.card-cont{
    box-shadow:rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.card-actions{
   display: flex;
   justify-content: space-between;
   padding-left: 10px;
   padding-right: 10px;
   align-items: center;
    
    
}
.buy-now{
   color: black;
   border-radius: 20px;
   border: 1px solid black;
   font-size: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
    
  
}

