.user-profile-container{
    width: 100vw;
    height:100vh;
    background-color:lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.user-profile-box{
    width: 60%;
    background-color: white;
   padding: 20px;
   
}
.user-part{
    display: flex;
    margin-bottom: 10px;
}
.user-details{
    padding-left: 10px;
}
.user-address-part{
    padding-top: 10px;
}
.user-address-part>h4{
    margin-bottom: 10px;
}
.buttons{
    display: flex;
    margin-top: 10px;
}
.address-part{
    margin-top: 20px;
}
.address-box{
    border: 1px solid lightgray;
    /* border-radius: 10px; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
   
}
.address-type{
    height:30px;
    padding: 3px ;
    background-color: rgb(235, 234, 234);
}