.user-profile-container{
    width: 100vw;
    background-color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.user-profile-box{
    width: 75%;
    min-height: 100vh;
    background-color: white;
   padding: 20px;
 
   
}
.address-heading{
    display: flex;
    align-items: center;
    gap: 5;
  
}
.user-part{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.user-details{
    padding-left: 5px;
}
.user-address-part{
    padding-top: 10px;
}
.user-address-part>h4{
    margin-bottom: 10px;
}
.buttons{
    display: flex;
    margin-top: 10px;
}
.address-part{
    margin-top: 20px;
}
.address-box{
    border: 1px solid lightgray;
    /* border-radius: 10px; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin:10px
   
}
.address-type{
    height:30px;
    padding: 3px ;
    background-color: rgb(235, 234, 234);
}
@media (min-width:0px) and (max-width:425px){
    .address-box{
        
        display: flex;
        flex-direction: column;
        margin:10px;
        
       
    }
    .address-type{
       color: rgb(35, 35, 237);
       background-color: white;
       
    }
    .user-profile-box{
        width: 100%;
       
       
    }
}