.signUp-container{
    width:100vw;
    height:100vh;
    background-color: rgb(75, 164, 189);
    display: flex;
    justify-content: center;
    align-items: center;
}
.signUp-modal{
    width:400px;
    padding: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.userId-error{
    height:25px;
}
.password-error{
    height:25px;
}
.name-error{
    height:25px;
}
.email-error{
    height:25px;
}
.confirm-password-error{
    height:25px;
}
.signUp-header>h5{
    padding-top: 5px;
   color: gray;
}
.signUp-title{
    display: flex;
    align-items: center;
   
}
.signUp-title>h2{
    margin-left: 5px;
}
@media (min-Width:0px) and (max-width:425px){
    .signUp-modal{
        width:90%;
        padding: 10px;
      }
  .userId-error{
    font-size: 15px;

  }
  .password-error{
    font-size: 14px;
    height: 38px;
  }
}