*{
  padding:0%;
  margin: 0%;
  box-sizing: border-box;
}



 /* step-1*/
 root{
  .dark{
    --bg-color:#000000;
  }
  .light{
    --bg-color:#ffffff;
  }
 }
/* step-2*/
 body {
  margin: 0;
overflow-x: hidden;

}
.app{
  background-color: var(--bg-color);
}